<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FullscreenLockConv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <FullscreenLockConv.Properties.Settings>
            <setting name="StartInExtendedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartInMutedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartInProcessSearchMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartInPausedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerPollingRate" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AutoSaveLastUsedOptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartInPinnedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastKnownSearchTarget" serializeAs="String">
                <value/>
            </setting>
            <setting name="RememberSearchTarget" serializeAs="String">
                <value>True</value>
            </setting>
        </FullscreenLockConv.Properties.Settings>
    </userSettings>
</configuration>
